[Desktop Entry]
Version=1.0
Name=Gamin
Comment=file allocation monitor
Exec=/usr/libexec/gam_server.exe
Icon=applications-system
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=XFCE;
